# Python Language Basics, IPython, and Jupyyer Notebooks
### Python Language Basics

__Language Semantics__  
Indentation, not braces [들여쓰기]

### When used in R
for(x in array){
    if(x < pivot){
        less.append(x)
    }else{
        greater.append(x)
    }  
}

### When used in Python
for x in array:
    if x < pivot:
        less.append(x)
    else:
        greater.append(x)

R에서는 ( )를 사용하지만, Python에서는 괄호가 아닌 들여쓰기를 사용한다.

__Dynamic references, strong type__  

Python의 데이터 타입(자료형, class)에는  
- int : 정수형
- float : 실수형
- str : 문자형 (주로 " " 또는 ' '을 사용)  

있다. 데이터 타입을 확인하기 위해서는 type() 함수를 사용해서 알 수 있다.

※ 문자열(str)과 숫자형(int or float)는 계산 할 수 없다.

In [1]:
a = 5
b = 'foo'
c = 4.5

print(type(a),type(b),type(c))

<class 'int'> <class 'str'> <class 'float'>

__Attributes and methods__

Attributes(속성): other Python objects stored "inside" the object [ 객체 "내부"에 저장된 다른 Python 객체 ]

methods(방법): functions associated with an object that can have access to the object's internal data [ 객체의 내부 데이터에 접근할 수 있는 객체와 관련된 함수 ]

In [3]:
# Attributes
a ='foo'

# Methods
a.upper()

'FOO'

__Import__

파이썬 모듈 만들기(in Jupyter)

1. Jupyter에서 textFile을 생성
2. some_module.py 처럼 같은 디렉토리의 다른 파일에서 정의된 변수와 함수를 작성 후 저장

# some_module.py
PI = 3.14159
def f(x):
    return x + 2
def g(a,b):
    return a + b

3. 새로운 .ipynb 파일을 만들어, import로 some_module을 불러온 후, 실행

In [4]:
import some_module
result = some_module.f(5)

pi = some_module.PI
pi

3.14

In [6]:
### as로 모듈 이름을 줄일수 있다.
import some_module as sm

### from으로 바로 불러와서 사용할 수 있다.
from some_module import PI as pi, g as gf

r1 = sm.f(pi)
r2 = gf(6, pi)

print(r1, r2)

5.140000000000001 9.14

__Binary operators and comparisons__

In [9]:
# is / is not
a = [1,2,3]
b = a
c = list(a)

print(a is b)
print(a == b)
print(a is not c)

True
True
True

- == , != 와 is, is not 의 차이점
  - == 과 != 는 값 자체를 비교
  - is 와 is not은 객체를 비교

__Mutable and immutable objects__

list, dict, Numpy array 및 대부분의 사용자 정의 유형(classes)과 같은 Python의 대부분의 객체는 변경 가능하다.

Tuple은 변경 불가능하지만, 작업속도는 List보다 더 빠르게 작업할 수 있다.

In [12]:
a_list = ['foo',2,[4,5]]
a_list[2] = (3,4)
a_list

['foo', 2, (3, 4)]

In [11]:
a_tuple = (3,5,(4,5))
a_tuple[1] = 'four'

TypeError: 'tuple' object does not support item assignment

__Scalar Type__

Numeric type  
: 숫자에 대한 기본 Python 유형은 int 및 float가 있다.

- int는 임의의 큰 숫자를 저장할 수 있다.
- 소수점 숫자는 float로 표시할 수 있다.

In [15]:
ival = 17239871
type(ival **6)

int

In [17]:
fval = 7.234
type(fval**6)

float

Strings

 Python 문자열을 변경할 수 없고, 인덱스를 뽑아서 수정할 수 없다.  
(Python strings are immutable; you cannot modify a sting)

In [19]:
a = 'This is a string'
a[10] = 'f'

TypeError: 'str' object does not support item assignment

하지만, replace()를 써서 바꿀 수 있다.

* replace()함수

: 텍스트 문자열의 일부를 지정된 문자 수만큼 다른 텍스트 문자열로 바꾼다.  
: 지정한 바이트 수에 따라 텍스트 문자열의 일부를 다른 텍스트 문자열로 바꾼다.

In [14]:
a = 'This is a string'
b = a.replace('string','longer string')
b

'This is a longer string'

In [15]:
# 문자열끼리 더할 수도 있다.
a + b

'This is a stringThis is a longer string'

문자열 자료형( str ) 에는 다양한 이스케이프 코드들이 있다.

_주로 사용되는 코드들_
- \ n	: 문자열 안에서 줄을 바꿀 때 사용
- \ t	: 문자열 사이에 탭 간격을 줄 때 사용
- \ \	: 문자 \를 그대로 표현할 때 사용
- \ '	: 작은따옴표(')를 그대로 표현할 때 사용
- \ "	: 큰따옴표(")를 그대로 표현할 때 사용

In [2]:
# \n : 줄바꿈 / \t : Tap
a = 'one way of \n writing a \tstring'
print(a)

one way of
 writing a 	string

Data Type을 변환할 때 쓰는 함수
- str() : 문자열로 변환
- int() : 정수형으로 변환
- float() : 실수형으로 변환
- bool() : 결과값이 True 또는 False값으로 출력됨
- tuple() : 튜플로 변환
- list() : 리스트로 변환

In [10]:
a = 5.6
s = str(a)
i = int(a)
print(s,type(s),"\n",
     i,type(i),"\n",
     a, type(a))

5.6 <class 'str'>
 5 <class 'int'>
 5.6 <class 'float'>

※ sequence 자료형 (3가지의 자료형을 가지고 있다.)  

: 모든 시퀀스는 순서가 유지되고, 정수로 인덱싱하며, 길이가 있다.  
: 문자열은 Unicord 문자의 시퀀스이므로 list 및 tuple 과 같은 다른 시퀀스처럼 취급될 수 있습니다.

- 문자열: 'Hello'. 문자열(string)은 문자(character)들의 시퀀스다.
- 리스트: [1, 4, 5]
- 튜플: ('GOOG', 100, 490.1)

In [11]:
s = 'python'
list(s)

['p', 'y', 't', 'h', 'o', 'n']

※ 슬라이싱(Slicing)

: 시퀀스의 일부(subsequence)를 취하는 것을 슬라이싱이라 한다.

In [16]:
s = 'python'
s[:3]

'pyt'

※ String objects have a format methods

: 문자열 객체에는 인수를 문자열로 대체하여 새 문자열을 생성하는 데 사용할 수 있는 형식 메서드가 있다.

In [20]:
template = '{0:.2f} {1:s} are worth US ${2:d}'
template.format(4.5560,'Argentine Pesos',1)

'4.56 Argentine Pesos are worth US $1'

- Cord Explain  

{0:.2f}: 소수점 둘째자리까지

{1:s}: 문자열

{2:d}: 정수형

__Booleans__

Python의 두 Bool 값은 True 및 False로 작성된다. 비교 및 기타 조건 표현식은 True 또는 False로 평가된다.

In [21]:
True and False # True or False

False

__None__

: None은 Python null 값 유형이다. 함수가 명시적으로 값을 반환하지 않으면 암시적으로 None을 반환한다.

In [22]:
a = None
a is None

True

__Date and times__

1. date to string, string to date

strftime(): datetime type을 string type으로 변경  
strptime() : string type을 datetime type으로 변경  

2. Change date

timedelta() : days, seconds, microseconds 속성이 있는데, 날짜단위, 시간단위, 밀리세컨단위를 일, 초 밀리세컨 값으로 나타낸다.

3. dateutil Package

parse() : 형식문자열을 자동으로 찾아서 객체로 만들어줌.  
(단, 포맷을 맘대로 바꾸면 찾을 수 없으니 strptime 메서드를 쓰는게 좋다.)

In [27]:
from datetime import datetime, date, time
dt = datetime(2011,10,29,20,30,21)
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [28]:
# %m: 월 / %d: 일 / %Y: 년 / %H: 시간 / %M: 분
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

In [30]:
datetime.strptime('20220317','%Y%m%d')

datetime.datetime(2022, 3, 17, 0, 0)

In [31]:
dt2 = datetime(2001,3,19,22,30)
delta = dt2 - dt
delta

datetime.timedelta(days=-3876, seconds=7179)

In [32]:
type(delta)

datetime.timedelta

__Control Flow__

#### if, elif, and else

: if 문은 선택적으로 하나 이상의 elif 블록과 모든 조건이 False인 경우 else 블록을 실행한다.

In [33]:
x = -5

if x < 0:
    print('It is negative')
elif x == 0:
    print('Equal to zero')
elif 0 < x < 5:
    print('Positive but smaller than 5')
else:
    print('Positive and larger than or equal to 5')

It is negative

#### for loops

: for문은 컬렉션(collection) 또는 반복자(iterater)를 반복하기 위한 것이다.

In [34]:
# value가 None이면 continue(건너뛰기) -> total += value를 실행함
sequence = [1,2,None,4,None,5]
total = 0
for value in sequence:
    if value is None:
        continue
    total += value

total

12

In [35]:
# value가 5가 되면 break(멈춤) -> 코드 실행 종료
sequence = [1,2,0,4,6,5,2,1]
total_until_5 = 0
for value in sequence:
    if value ==5:
        break
    total_until_5 += value

total_until_5

13

※ 중첩반복문(Nested Loop)

: 바깥 쪽 for문을 기준으로 안 쪽에 위치한 for문이 먼저 반복된다.

※ 복합 대입 연산자(Assignment Operators)

: 연산과 할당을 합쳐놓은 것이다.(식을 간결하게 사용 가능)

a += b	-> a = a + b

In [36]:
# 1+(1+2) + (1+2+3)+...+(1+2+...+100)의 결과를 프로그램
i=0
sum=0

for i in range(1, 101):
    for j in range(1,i+1):
        # sum += j
        sum=sum+j
        
print(sum)

171700

__while loops__

: 반복해서 문장을 수행해야 할 경우 while문을 사용한다.

In [37]:
x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x
    x = x// 2

total

504

__Pass__

: pass는 Python에서 "no-op"(작업 없음) 문이다. (어떠한 행동을 하지 않는다.)

In [38]:
x = -1

if x < 0:
    print('negative')
elif x == 0:
    pass # x가 0이면 아무것도 하지 않음.
else:
    print('positive!')

negative

__Range__

: 범위 함수는 일정한 간격의 정수 시퀀스를 생성하는 반복자를 반환한다.

In [39]:
range(10)

range(0, 10)

In [40]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

- 시작 끝과 단계가 모두 주어질 수 있다.

In [41]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

Range 의 일반적인 용도는 인덱스(index)로 시퀀스를 반복하는 것이다.

In [1]:
seq = [1,2,3,4]
for i in range(len(seq)):
    val = seq[i]

val

4

list와 같은 함수를 사용하여 range에 의해 생성된 모든 정수를 다른 데이터 구조에 저장할 수 있지만 기본 반복자가 원하는 것이 되는 경우가 많다.

In [3]:
sum = 0
for i in range(100000):
    # % is the module operator
    if i % 3 == 0 or i % 5 == 0 :
        sum += i

print(sum)

2333316668

__Ternary expressions__

: true-expr 및 false-expr은 모든 Python 표현식이 될 수 있다.

value = true-expr if condition else false-expr

if condition: 
    value = tru-expr
else: 
    value = false-expr

In [42]:
x=5
'Non-negative' if x >= 0 else 'Negative'

'Non-negative'